@page
@using WumbosDnDToolbox.Model
@model WumbosDnDToolbox.Pages.Monster.DatabaseModel
@section Styles{
	<link rel="stylesheet" href="~/css/dbtable.css" />
}

<div class="search-wrapper d-flex">
	<form method="post">
	    <input asp-page-handler="Search" asp-for="NameFilter" type="text" class="search-box" placeholder="Filter Name" />
        <input asp-page-handler="Search" asp-for="SizeFilter" type="text" class="search-box" placeholder="Filter Size" />
        <button asp-page-handler="Search" class="btn btn-primary close-icon">Go</button>
        <button asp-page-handler="Clear" class="btn btn-danger close-icon">Clear</button>
    </form>
</div>

<div class="col-12 border p-3 mt-3">
    @if (Model.monsters.Length != 0)
    {
        <p>Records Found: @Model.monsters.Length</p>
        <table class="table table-hover border">
            <tr class="table-secondary">
                <th colspan="1">
                    <label>Name</label>
                </th>
                <th colspan="1">
                    <label>Size</label>
                </th>
                <th colspan="1">
                    <label>Type</label>
                </th>
                <th colspan="1">
                    <label>CR</label>
                </th>
                <th colspan="1">
                    <label>AC</label>
                </th>
                <th colspan="2">
                    <label>HP</label>
                </th>
            </tr>
            @foreach (MonsterModel monster in Model.monsters)
            {
                <tr>
                    <td>
                        @monster.name
                    </td>
                    <td>
                        @monster.size
                    </td>
                    <td>
                        @char.ToUpper(monster.type[0])@monster.type.Substring(1)
                    </td>
                    <td>
                        CR @monster.challenge_rating
                    </td>
                    <td>
                        AC @monster.armor_class
                    </td>
                    <td>
                        HP @monster.hit_points
                    </td>
                    <td>
                        <a asp-page="Details" asp-route-name="@monster.name" class="btn btn-primary btn-sm text-white">Details</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No Monsters Found in Database</p>
    }
</div>